html {
    font-size: 10px; /* px 表示 “像素（pixels）”: 这个基础字号现在高10像素 */
    font-family: 'Merienda', cursive;/* 剩下的部分是你从 Google fonts 上获取的输出 */
    background-color: rgba(141, 193, 245, 0.05);
}
body {
	width: 600px;
	margin: 0 auto;
	background-color: rgba(141, 193, 245, 0.5);
	padding: 0 20px 20px 20px;
}
h1 {
	font-size: 60px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	text-shadow: 3px 3px 1px black;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

a {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
	color: black;
}

img {
	display: block;
	margin: 0 auto;
	width: 250px;
}